node_modules/
dist/
.DS_Store

# Environments
.venv/
venv/
ENV/
pyvenv.cfg

# Python
__pycache__/
*.py[cod]
*$py.class

# Large / Temp files
*.docx
*.odt
*.zip
*.webm
temp_*/
bd_final/
projet_version2/
dist/
